@import "../../assets/color.css";

.admin_table{
    margin: 20px 0;
    max-width: 100%;
}

.admin_table > .table_wrapper {
    width: fit-content;
    max-height: 600px;
    overflow: auto;
}


.admin_td {
   padding: 5px;
   border: 1px solid var(--slate) ;
}