@import "../../assets/color.css";

.track {
  padding: 20px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(68, 156, 200, 0) 0%,
    rgba(30, 38, 48, 1) 30%,
    rgba(30, 38, 48, 1) 70%,
    #74808600 100%
  );
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.track > audio {
  margin-left: 100px;
}

.track > div:last-child {
  display: flex;
  position: absolute;
  right: 10px;
  gap: 15px;
}

.track:hover {
  background-color: var(--grey);
}

.playing {
  background-color: var(--grey);
}

.spin {
  animation: Icon-spin infinite 10s linear;
}

@keyframes Icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown {
  display: none;
  position: absolute;
  left: -220px;
  bottom: -15px;
  background-color: var(--grey);
  list-style: none;
  padding: 5px;
  border-radius: 5px;
}

.dropdown.solo {
  left: -20px;
}

.dropdown.open {
  display: flex;
  gap: 10px;
}

.playlists_options_dropdown {
  position: absolute;
  border-radius: 5px;
  width: 161px;
  background-color: var(--slate);
  top: -106px;
  height: 108px;
  overflow: auto;
}

.playlists_options_dropdown > li {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.playlists_options_dropdown > li > p {
  max-width: 120px;
  overflow: auto;
  white-space: nowrap;
}

.playlists_options_dropdown > li > span {
  padding: 0;
  visibility: hidden;
}

.playlists_options_dropdown > li:hover {
  background-color: #2e3945;
}

.playlists_options_dropdown > li:hover > span {
  visibility: visible;
}

@media screen and (max-width: 640px) {
  .playlists_options_dropdown > li > span {
    visibility: visible;
  }

  .cut {
    max-width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown {
    left: -254px;
  }

  .track {
    padding: 15px 0;
  }

  #duration {
    display: none;
  }
}
