@import "../../assets/color.css";

.btn {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--slate);
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.btn > span {
  padding: 0;
}

.btn.center{
  margin: auto;
}

.btn.black {
  background-color: transparent;
  border: 1px solid var(--slate);
}

.btn.mobile {
  width: 100%;
  margin: 2px 0;
}

.btn.disabled {
  pointer-events: none;
  background-color: #151c24;
}

.btn.option {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.btn.delete_playlist {
  background-color: var(--darkred);
  position: absolute;
  right: 30px;
  top: 30px;
}

.btn.red_icon > span {
  color: var(--red);
}

.btn.red:hover {
  background-color: var(--red);
}

.btn:hover {
  background-color: var(--lightslate);
}

.btn > span.spinning{
  animation: Icon-spin infinite 10s linear;
}

@keyframes Icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.delete_playlist:hover {
  background-color: var(--red);
}
